## Settings file was created by plugin OdinCampsite v1.5.3
## Plugin GUID: Raelaziel.OdinCampsite

[Big Tent]

## Build Category where Big Tent is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, Furniture, All, Custom
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Crafting station where Big Tent is available.
# Setting type: CraftingTable
# Default value: None
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = None

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Big Tent
# Setting type: String
# Default value: rae_CampsiteResources:3:True
Crafting Costs = rae_CampsiteResources:3:True

[Campsite Resources]

## Crafting station where Campsite Resources is available.
# Setting type: CraftingTable
# Default value: Inventory
# Acceptable values: Disabled, Inventory, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = Inventory

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft Campsite Resources.
# Setting type: Int32
# Default value: 0
Crafting Station Level = 0

## Whether only one of the ingredients is needed to craft Campsite Resources
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Require only one resource = Off

## Multiplies the crafted amount based on the quality of the resources when crafting Campsite Resources. Only works, if Require Only One Resource is true.
# Setting type: Single
# Default value: 1
Quality Multiplier = 1

## Item costs to craft Campsite Resources
# Setting type: String
# Default value: DeerHide:8,Flint:5,Wood:8
Crafting Costs = DeerHide:8,Flint:5,Wood:8

## Campsite Resources drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Campsite Resources.
# Setting type: Single
# Default value: 15
Weight = 15

## Trader value of Campsite Resources.
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Which traders sell Campsite Resources.
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Campsite Resources at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Campsite Resources in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Campsite Resources at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

[Capmsite Resources]

## Declare max stack of items
# Setting type: Int32
# Default value: 3
Max Stack = 3

## Declare weight per resources box
# Setting type: Int32
# Default value: 15
Weight = 15

[Fireplace]

## Declare the radius for fireplace warmth status
# Setting type: Int32
# Default value: 6
Warmth radius = 6

[General]

## If on, the configuration is locked and can be changed by server admins only.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[Sleeping Bag]

## Build Category where Sleeping Bag is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, Furniture, All, Custom
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Crafting station where Sleeping Bag is available.
# Setting type: CraftingTable
# Default value: None
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = None

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Sleeping Bag
# Setting type: String
# Default value: rae_CampsiteResources:1:True
Crafting Costs = rae_CampsiteResources:1:True

[Small campfire]

## Build Category where Small campfire is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, Furniture, All, Custom
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Crafting station where Small campfire is available.
# Setting type: CraftingTable
# Default value: None
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = None

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Small campfire
# Setting type: String
# Default value: Stone:2:True,Wood:3:True
Crafting Costs = Stone:2:True,Wood:3:True

[Small Tent]

## Build Category where Small Tent is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, Furniture, All, Custom
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Crafting station where Small Tent is available.
# Setting type: CraftingTable
# Default value: None
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = None

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Small Tent
# Setting type: String
# Default value: rae_CampsiteResources:1:True
Crafting Costs = rae_CampsiteResources:1:True

[Tents Terrain]

## Declare whether the terrain should flatten itself when setting up the tent
# Setting type: Boolean
# Default value: true
Terrain modifier = true

